.u-section-1 {min-height: 1074px; background-image: none}
.u-section-1 .u-text-1 {font-size: 3.75rem; background-image: none; letter-spacing: 2px; text-transform: uppercase; font-weight: 700; margin: 88px 200px 0}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-shape-1 {height: 200px; margin: 168px auto 0 0}
.u-section-1 .u-list-1 {min-height: 661px; grid-template-columns: repeat(2, 50%); grid-template-rows: repeat(2, auto); width: 1140px; grid-gap: 0; margin: -324px auto 0}
.u-section-1 .u-list-item-1 {background-image: none}
.u-section-1 .u-container-layout-1 {padding: 30px 40px}
.u-section-1 .u-image-1 {width: 229px; height: 229px; background-image: url("images/uncover-unc0ver-Icon-app-200px.png"); background-position: 50% 50%; margin: 0 auto 0 0}
.u-section-1 .u-group-1 {width: 257px; min-height: 246px; margin: -229px 0 0 auto}
.u-section-1 .u-container-layout-2 {padding: 0 0 20px 25px}
.u-section-1 .u-text-2 {font-size: 1.875rem; margin: 0}
.u-section-1 .u-btn-2 {padding: 0}
.u-section-1 .u-text-3 {font-weight: 700; font-size: 1rem; margin: 20px 0 0}
.u-section-1 .u-btn-3 {padding: 0}
.u-section-1 .u-text-4 {font-size: 0.875rem; font-style: italic; margin: 20px 0 0}
.u-section-1 .u-list-item-2 {background-image: none}
.u-section-1 .u-container-layout-3 {padding: 30px 40px}
.u-section-1 .u-image-2 {width: 229px; height: 229px; background-image: url("images/7.jpg"); background-position: 50% 50%; margin: 0 auto 0 0}
.u-section-1 .u-group-2 {width: 257px; min-height: 246px; margin: -229px 0 0 auto}
.u-section-1 .u-container-layout-4 {padding: 0 0 20px 25px}
.u-section-1 .u-text-5 {font-size: 1.875rem; margin: 0}
.u-section-1 .u-text-6 {font-weight: 700; font-size: 1rem; margin: 20px 0 0}
.u-section-1 .u-text-7 {font-size: 0.875rem; font-style: italic; margin: 20px 0 0}
.u-section-1 .u-list-item-3 {background-image: none}
.u-section-1 .u-container-layout-5 {padding: 30px 40px}
.u-section-1 .u-image-3 {width: 229px; height: 229px; background-image: url("images/4.jpg"); background-position: 50% 50%; margin: 0 auto 0 0}
.u-section-1 .u-group-3 {width: 257px; min-height: 246px; margin: -229px 0 0 auto}
.u-section-1 .u-container-layout-6 {padding: 0 0 20px 25px}
.u-section-1 .u-text-8 {font-size: 1.875rem; margin: 0}
.u-section-1 .u-text-9 {font-weight: 700; font-size: 1rem; margin: 20px 0 0}
.u-section-1 .u-text-10 {font-size: 0.875rem; font-style: italic; margin: 20px 0 0}
.u-section-1 .u-list-item-4 {background-image: none}
.u-section-1 .u-container-layout-7 {padding: 30px 40px}
.u-section-1 .u-image-4 {width: 229px; height: 229px; background-image: url("images/zzz.jpg"); background-position: 50% 50%; margin: 0 auto 0 0}
.u-section-1 .u-group-4 {width: 257px; min-height: 246px; margin: -229px 0 0 auto}
.u-section-1 .u-container-layout-8 {padding: 0 0 20px 25px}
.u-section-1 .u-text-11 {font-size: 1.875rem; margin: 0}
.u-section-1 .u-text-12 {font-weight: 700; font-size: 1rem; margin: 20px 0 0}
.u-section-1 .u-text-13 {font-size: 0.875rem; font-style: italic; margin: 20px 0 0}
.u-section-1 .u-text-14 {width: 256px; margin: 35px auto 0}
.u-section-1 .u-btn-4 {border-style: none none solid; padding: 0}
.u-section-1 .u-btn-5 {border-style: solid; font-weight: 700; text-transform: uppercase; margin: 35px auto 60px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 958px}
.u-section-1 .u-shape-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-list-1 {min-height: 545px; height: auto; width: 940px}
.u-section-1 .u-container-layout-1 {padding-left: 35px; padding-right: 35px}
.u-section-1 .u-image-1 {width: 183px; height: 183px}
.u-section-1 .u-group-1 {width: 200px; min-height: 248px; margin-top: -183px}
.u-section-1 .u-container-layout-3 {padding-left: 35px; padding-right: 35px}
.u-section-1 .u-image-2 {width: 183px; height: 183px}
.u-section-1 .u-group-2 {width: 200px; min-height: 248px; margin-top: -183px}
.u-section-1 .u-container-layout-5 {padding-left: 35px; padding-right: 35px}
.u-section-1 .u-image-3 {width: 183px; height: 183px}
.u-section-1 .u-group-3 {width: 200px; min-height: 248px; margin-top: -183px}
.u-section-1 .u-container-layout-7 {padding-left: 35px; padding-right: 35px}
.u-section-1 .u-image-4 {width: 183px; height: 183px}
.u-section-1 .u-group-4 {width: 200px; min-height: 248px; margin-top: -183px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: 79px; margin-right: 79px}
.u-section-1 .u-shape-1 {height: 800px; margin-right: initial; margin-left: initial}
.u-section-1 .u-list-1 {grid-template-columns: 100%; width: 720px; margin-top: -924px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-1 {width: 243px; height: 243px}
.u-section-1 .u-group-1 {width: 397px; margin-top: -243px}
.u-section-1 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-2 {width: 243px; height: 243px}
.u-section-1 .u-group-2 {width: 397px; margin-top: -243px}
.u-section-1 .u-container-layout-5 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-3 {width: 243px; height: 243px}
.u-section-1 .u-group-3 {width: 397px; margin-top: -243px}
.u-section-1 .u-container-layout-7 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-4 {width: 243px; height: 243px}
.u-section-1 .u-group-4 {width: 397px; margin-top: -243px} }

@media (max-width: 767px){ .u-section-1 .u-list-1 {width: 540px}
.u-section-1 .u-image-1 {width: 214px; height: 214px}
.u-section-1 .u-group-1 {width: 257px; margin-top: -214px}
.u-section-1 .u-container-layout-2 {padding-left: 10px}
.u-section-1 .u-text-2 {font-size: 2.25rem}
.u-section-1 .u-text-3 {font-size: 1.125rem}
.u-section-1 .u-image-2 {width: 214px; height: 214px}
.u-section-1 .u-group-2 {width: 257px; margin-top: -214px}
.u-section-1 .u-container-layout-4 {padding-left: 10px}
.u-section-1 .u-text-5 {font-size: 2.25rem}
.u-section-1 .u-text-6 {font-size: 1.125rem}
.u-section-1 .u-image-3 {width: 214px; height: 214px}
.u-section-1 .u-group-3 {width: 257px; margin-top: -214px}
.u-section-1 .u-container-layout-6 {padding-left: 10px}
.u-section-1 .u-text-8 {font-size: 2.25rem}
.u-section-1 .u-text-9 {font-size: 1.125rem}
.u-section-1 .u-image-4 {width: 214px; height: 214px}
.u-section-1 .u-group-4 {width: 257px; margin-top: -214px}
.u-section-1 .u-container-layout-8 {padding-left: 10px}
.u-section-1 .u-text-11 {font-size: 2.25rem}
.u-section-1 .u-text-12 {font-size: 1.125rem} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {font-size: 1.5rem}
.u-section-1 .u-list-1 {width: 340px}
.u-section-1 .u-image-1 {width: 255px; height: 255px}
.u-section-1 .u-group-1 {min-height: 230px; margin-top: 34px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-3 {font-size: 1.25rem}
.u-section-1 .u-image-2 {width: 255px; height: 255px}
.u-section-1 .u-group-2 {min-height: 230px; margin-top: 34px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-6 {font-size: 1.25rem}
.u-section-1 .u-image-3 {width: 255px; height: 255px}
.u-section-1 .u-group-3 {min-height: 230px; margin-top: 34px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-9 {font-size: 1.25rem}
.u-section-1 .u-image-4 {width: 255px; height: 255px}
.u-section-1 .u-group-4 {min-height: 230px; margin-top: 34px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-12 {font-size: 1.25rem} }.u-section-2 {background-image: url("images/-min.jpg"); background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 794px}
.u-section-2 .u-group-1 {width: 559px; min-height: 414px; background-image: none; margin: 380px auto 0 0}
.u-section-2 .u-container-layout-1 {padding: 30px 50px}
.u-section-2 .u-text-1 {font-size: 6rem; letter-spacing: 1px; font-family: Raleway, sans-serif; font-weight: 400; margin: 0}
.u-section-2 .u-text-2 {font-size: 1.5rem; line-height: 1.4; margin: 20px auto 0 0}
.u-section-2 .u-text-3 {font-style: italic; margin: 20px auto 0 0}
.u-section-2 .u-btn-1 {border-style: none none solid; padding: 0}
.u-section-2 .u-btn-2 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 1.25rem; margin: 27px auto 0 0; padding: 10px 56px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 705px}
.u-section-2 .u-group-1 {margin-top: 291px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 647px}
.u-section-2 .u-group-1 {width: 437px; min-height: 362px; margin-top: 285px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-text-1 {font-size: 4.5rem} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 485px}
.u-section-2 .u-group-1 {width: 409px}
.u-section-2 .u-container-layout-1 {padding-left: 25px; padding-right: 25px} }

@media (max-width: 575px){ .u-section-2 {background-position: 68.43% 50%}
.u-section-2 .u-sheet-1 {min-height: 305px}
.u-section-2 .u-group-1 {width: 340px}
.u-section-2 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-text-1 {font-size: 3.75rem} }.u-section-3 {background-image: none; min-height: 422px}
.u-section-3 .u-shape-1 {height: 84px; margin: 189px auto 0 0}
.u-section-3 .u-text-1 {text-transform: none; line-height: 66px; font-size: 3.75rem; margin: -223px 352px 0 353px}
.u-section-3 .u-list-1 {min-height: 240px; grid-template-columns: repeat(4, calc(25% - 8px)); width: 1140px; grid-gap: 10px; margin: 16px auto -268px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-2 {font-size: 6rem; font-weight: 700; margin: 0 auto}
.u-section-3 .u-text-3 {text-transform: uppercase; margin: 20px auto 0}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-text-4 {font-size: 6rem; font-weight: 700; margin: 0 auto}
.u-section-3 .u-text-5 {text-transform: uppercase; margin: 20px auto 0}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-text-6 {font-size: 6rem; font-weight: 700; margin: 0 auto}
.u-section-3 .u-text-7 {text-transform: uppercase; margin: 20px auto 0}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-text-8 {font-size: 6rem; font-weight: 700; margin: 0 auto}
.u-section-3 .u-text-9 {text-transform: uppercase; margin: 20px auto 0} 

@media (max-width: 1199px){ .u-section-3 {min-height: 380px}
.u-section-3 .u-shape-1 {height: 96px; margin-top: 180px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-1 {width: 595px; margin-top: -226px; margin-left: calc(((100% - 1140px) / 2) + 273px); margin-right: calc(((100% - 1140px) / 2) + 273px)}
.u-section-3 .u-list-1 {min-height: 198px; height: auto; width: 940px; margin-left: calc(((100% - 1140px) / 2) + 100px)} }

@media (max-width: 991px){ .u-section-3 {min-height: 624px}
.u-section-3 .u-shape-1 {margin-top: 192px; margin-right: initial; margin-left: initial}
.u-section-3 .u-list-1 {min-height: 442px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); width: 720px; margin-left: calc(((100% - 1140px) / 2) + 210px)} }

@media (max-width: 767px){ .u-section-3 .u-text-1 {width: 540px; margin-left: calc(((100% - 1140px) / 2) + 300px); margin-right: calc(((100% - 1140px) / 2) + 300px)}
.u-section-3 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); width: 540px; margin-left: calc(((100% - 1140px) / 2) + 300px)}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 {min-height: 584px}
.u-section-3 .u-shape-1 {margin-top: 170px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-1 {width: 340px; line-height: 1.6; font-size: 2.75rem; margin-top: -204px; margin-left: calc(((100% - 1140px) / 2) + 400px); margin-right: calc(((100% - 1140px) / 2) + 400px)}
.u-section-3 .u-list-1 {min-height: 398px; grid-template-columns: repeat(2, calc(((100% - 340px) / 2)  + 165px)); width: 340px; margin-left: calc(((100% - 1140px) / 2) + 400px)}
.u-section-3 .u-text-2 {font-size: 3.75rem}
.u-section-3 .u-text-4 {font-size: 3.75rem}
.u-section-3 .u-text-6 {font-size: 3.75rem}
.u-section-3 .u-text-8 {font-size: 3.75rem} }.u-section-4 {min-height: 850px; background-image: none}
.u-section-4 .u-text-1 {font-size: 3.75rem; width: 770px; font-weight: 500; text-transform: none; margin: 60px auto 0}
.u-section-4 .u-line-1 {width: 65px; height: 5px; transform-origin: right center; margin: 30px auto 0}
.u-section-4 .u-text-2 {width: 672px; margin: 20px auto 0}
.u-section-4 .u-map-1 {height: 400px; margin-top: 219px; margin-bottom: 0; margin-left: 0}
.u-section-4 .u-layout-wrap-1 {width: 1140px; margin: -584px auto 266px}
.u-section-4 .u-layout-cell-1 {min-height: 318px}
.u-section-4 .u-container-layout-1 {padding: 30px 20px}
.u-section-4 .u-icon-1 {height: 80px; width: 80px; background-image: none; margin: 0 auto}
.u-section-4 .u-text-3 {font-size: 1.875rem; font-weight: 600; text-transform: none; margin: 30px -1px 0}
.u-section-4 .u-text-4 {margin: 20px -1px 0}
.u-section-4 .u-layout-cell-2 {min-height: 318px}
.u-section-4 .u-container-layout-2 {padding: 30px 20px}
.u-section-4 .u-icon-2 {height: 80px; width: 80px; background-image: none; margin: 0 auto}
.u-section-4 .u-text-5 {font-size: 1.875rem; font-weight: 700; text-transform: none; margin: 30px -1px 0}
.u-section-4 .u-btn-1 {border-style: none; background-image: none; align-self: center; text-decoration: underline !important; font-weight: 700; margin: 20px auto 0; padding: 0}
.u-section-4 .u-btn-2 {border-style: none; background-image: none; text-decoration: underline !important; font-weight: 700; margin: 0 auto; padding: 0}
.u-section-4 .u-layout-cell-3 {min-height: 318px}
.u-section-4 .u-container-layout-3 {padding: 30px 20px}
.u-section-4 .u-icon-3 {height: 80px; width: 80px; background-image: none; margin: 0 auto}
.u-section-4 .u-text-6 {text-transform: none; font-size: 1.875rem; font-weight: 700; margin: 30px -1px 0}
.u-section-4 .u-text-7 {margin: 20px -1px 0} 

@media (max-width: 1199px){ .u-section-4 {min-height: 848px}
.u-section-4 .u-map-1 {margin-left: initial}
.u-section-4 .u-layout-wrap-1 {width: 940px; margin-bottom: 320px}
.u-section-4 .u-layout-cell-1 {min-height: 262px}
.u-section-4 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-4 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-4 .u-layout-cell-2 {min-height: 262px}
.u-section-4 .u-text-5 {margin-left: 0; margin-right: 0}
.u-section-4 .u-layout-cell-3 {min-height: 262px}
.u-section-4 .u-text-6 {margin-left: 0; margin-right: 0}
.u-section-4 .u-text-7 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-4 {min-height: 850px}
.u-section-4 .u-text-1 {width: 720px}
.u-section-4 .u-layout-wrap-1 {width: 720px; margin-bottom: 295px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4 {min-height: 1271px}
.u-section-4 .u-text-1 {font-size: 3rem; width: 540px}
.u-section-4 .u-text-2 {width: 540px}
.u-section-4 .u-map-1 {margin-top: 654px; margin-left: initial}
.u-section-4 .u-layout-wrap-1 {width: 540px; margin-top: -1019px; margin-bottom: 227px}
.u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 575px){ .u-section-4 {min-height: 825px}
.u-section-4 .u-text-1 {font-size: 2.375rem; width: 340px}
.u-section-4 .u-text-2 {width: 340px}
.u-section-4 .u-layout-wrap-1 {width: 340px} }